<div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> List Subjects
                <button class="btn btn-success float-right" data-toggle="modal" data-target="#modalAdd">Add New Subject</button>
            </div>
            <div class="card-body">
                <table datatable #dataTable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped row-border hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let monhoc of monhocList; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{monhoc.ma}}</td>
                            <td>{{monhoc.ten}}</td>
                            <td>
                                <label class="switch switch-label switch-pill switch-success">
                                    <input type="checkbox" class="switch-input" [checked]="monhoc.hienThi == true" #hthi (change)="Changed(i, $event)">
                                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                </label>
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-danger active" data-toggle="modal" data-target="#modalDelete" (click)="Value(i)"> <i class="fas fa-trash-alt"></i></button>
                                &nbsp;
                                <button type="button" class="btn btn-sm btn-primary active" data-toggle="modal" data-target="#modalUpdate" (click)="Value(i)"><i class="fas fa-pencil-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!--Modal Add-->
    <!-- The Modal -->
    <div class="modal" id="modalAdd">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header alert-success">
                    <h4 class="modal-title">New Subject</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body" >
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="row form">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="code">Code:</label>
                                            <input class="form-control" type="text" id="code" name="code" placeholder="Code" #subCode>
                                            <p class="text-danger">{{errorms}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="subname">Name:</label>
                                            <input class="form-control" type="text" name="subname" id="subname" placeholder="Subject Name" #subName>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="Add(subCode,subName)">Save</button>
                </div>
            </div>
        </div>
    </div>
    
    <!--Modal Add-->
    <!-- The Modal -->
    <div class="modal" id="modalUpdate">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header alert-primary">
                    <h4 class="modal-title">Update Subject Information</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="row form">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="code">Code:</label>
                                            <input class="form-control" type="text" name="code" id="code1" placeholder="Code" #subCode1 value='{{ma}}' disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="subname">Name:</label>
                                            <input class="form-control" type="text" name="subname" id="subname1" placeholder="Subject Name" #subName1 value='{{ten}}'>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Update(subCode1,subName1)" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
    
    <!--Modal Delete-->
    <!-- The Modal -->
    <div class="modal fade" id="modalDelete">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header alert-danger">
                    <h4 class="modal-title">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    <p class="alert alert-danger">Are you sure? Information of this subject will be deleted!!!</p>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="row form">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="code">Code:</label>
                                            <input class="form-control" type="text" name="code" id="code2" placeholder="Code" disabled value='{{ma}}' disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="subname">Name:</label>
                                            <input class="form-control" type="text" name="subname" id="subname2" placeholder="Subject Name" disabled value='{{ten}}'>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Delete()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>